.MindBlue {
  color: #1300c1;
}
.MindWhite {
  color: #ffffff;
}
.MindPeach {
  color: #ffcdd9;
}
.MindSky {
  color: #9da8ff;
}
.MindGreen {
  color: #71f5c4;
}
.MindPurple {
  color: #8149ff;
}
.MindPink {
  color: #ff0071;
}

.textboxContainer {
  margin: 20px;
}

.DonationRadioGroupsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 40px;
  border-radius: 20px;
}

.value:hover {
  background: #71f5c4;
}
.value::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #8149ff;
  outline: 0px solid #71f5c4;
  transition: 0.4s;
}
.value_checked {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 40px;
  border-radius: 20px;
}

.value_checked:hover {
  background: #71f5c4;
}

.value_checked {
  color: #71f5c4;
  border-width: 5px;
  background: #8149ff;
  transition: 0.5s;
}
.value_checked::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  outline: 0px solid #71f5c4;
  transition: 0.4s;
}
button {
  padding: 10px 24px;
  border: 2px solid #ff0071;
  border-radius: 4px;
  transition-duration: 0.5s;
  float: center;
}
button:hover {
  background-color: #ff0071;
  color: #ffffff;
  cursor: pointer;
}
button:focus {
  background-color: #8149ff;
  color: #ffffff;
  padding: 10px 24px;
  border: 2px solid #8149ff;
  border-radius: 4px;
}

.ltrContainer {
  display: flex;
  flex-direction: ltr;
  align-items: center;
}

.DonationRadioGroups {
  display: flex;
  flex-direction: ltr;
  padding: 50px;
  padding-top: 30px;
  align-items: center;
}

.DonationPanel {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 40px;
  border-radius: 20px;
}

.campaigns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.campaign-box {
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 35px 35px 5px 5px;
  overflow: hidden;
}
.campaign-desc {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.date-type {
  margin-top: 10px;
  font-size: small;
}
.heading {
  font-weight: 700;
  font-size: larger;
}

.desc {
  margin-top: 20px;
}

.progress-bar {
  margin-top: 15px;
  background-color: #fefefe;
  border: 1px solid gray;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  height: 30px;
  width: 100%;
  max-width: 100%;
}

.progress {
  background: #ad5389;
  background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);
  background: linear-gradient(to bottom, #3c1053, #ad5389);
  border-radius: 3px;
  height: 30px;
  width: 50%;
  transition: width 0.5s ease-in;
}
