.login-page {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.login-section {
  height: 100vh;
  width: 100%;
  color: white;
  background-color: #9da8ff;
  /* border-right: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffcdd9;
  /* color: #fff !important; */
}

.login-box > .input-box {
  margin-top: 10px;
}

.login-box {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  color: white;
  box-shadow: 5px 5px 100px 20px #ffcdd9;
  /* background-color: #8149ff; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 25%;
  /* border: 1px solid #8149ff; */
}

.signup-box {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  color: #8149ff;
  box-shadow: 5px 5px 100px 20px #9da8ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;
}
