.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header,
.history-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding: 10px 20px;
}
.profile-img {
  max-width: 20%;
  max-height: 20%;
}
.profile-name {
  margin: 0;
}

.profile-table {
  text-align: left;
}
