body {
    background-color: #FFCDD9;
    color: #1300c1;
}

.donationContainer {
    padding:15px;
    font-size: 20px;
}

.profile-container-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  justify-content: center;
}
.profile-img {
  max-width: 10%;
  max-height: 20%;
  float: left;
}
.profile-name {
  color:#1300c1; 
  margin: 0;
}

.profile-table {
  text-align: left;
}

.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.payment-information, .delete-account {
  padding-top: 100px;
}

.delete-button{
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.separator{
  height:30%;
  width:100%;
  background-image: linear-gradient(to right, #ffffff, #ff0000, #ffffff);
}
